@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: 203, 213, 225;
    --color-text-muted: 148, 163, 184;
    --color-text-inverted: 56, 189, 248;
    --color-fill: 24, 144, 255;
    --color-base: 25, 26, 31;
    --color-muted: 15, 15, 15;
    --color-elevated: 30, 64, 175;
    --color-button-accent: 51, 65, 85;
    --color-button-accent-hover: 15, 23, 42;
    --color-button-muted: 3, 105, 161;
  }
}
